/** Help */
#help {
  opacity:0;
  display:none;
  position: fixed;
  top:0; left:0; 
  bottom:0; right:0;
  pointer-events:none;
  
  -webkit-transition:-webkit-transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
  transition:transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
  
  color: #fff;
  font-size:2em;
  z-index: 1000;
}
#help.visible {
  opacity: 1;
}

#help .close,
#help .next {
  cursor: pointer; 
}

#help [data-role="block"] {
  background:rgba(0,0,0,0.7);
  position: absolute;
  display: block;
  padding: 0.2em 0.5em;
  max-width:10em;
  -webkit-transition:all 0.4s ease-out 0s;
  transition:all 0.4s ease-out 0s;
  pointer-events:all;
  opacity:0;
  border-radius: 5px;
}
@media screen and (max-width:600px),
screen and (max-height:600px) {
  #help [data-role="block"] > * {
    font-size: 0.8em;
  }
}

#help.step [data-role="block"] {
  opacity:1;
}
#help [data-role="block"]:before {
  content:"";
  border: 0.5em solid transparent;
  border-left-width: 0;
  border-color: transparent rgba(0,0,0,0.7);
  position:absolute;
  right:100%;
  top:0.5em;
}

/* Help block arrows */
#help [data-role="block"][data-arrow="right-top"]:before {
  right:-0.5em;
  border-left-width: 0.5em;
  border-right-width: 0;
}
#help [data-role="block"][data-arrow="right-bottom"]:before {
  right:-0.5em;
  top: auto;
  bottom: 0.5em;
  border-left-width: 0.5em;
  border-right-width: 0;
}

#help [data-role="block"][data-arrow="left-bottom"]:before {
  right:-0.5em;
  top: auto;
  bottom: 0.5em;
}

#help [data-role="block"][data-arrow="bottom-left"]:before {
  left: 0.5em;
  top: auto;
  bottom: -0.5em;
  border-color: rgba(0, 0, 0, 0.7) transparent;
  border-width: 0.5em 0.5em 0;
}
#help [data-role="block"][data-arrow="bottom-right"]:before {right: 0.5em;
  top: auto;
  bottom: -0.5em;
  border-color: rgba(0, 0, 0, 0.7) transparent;
  border-width: 0.5em 0.5em 0;
}
#help [data-role="block"][data-arrow="bottom-center"]:before {
  top: auto;
  bottom: -0.5em;
    left: 50%;
    margin-left: -0.5em;
  border-color: rgba(0, 0, 0, 0.7) transparent;
  border-width: 0.5em 0.5em 0;
}

#help [data-role="block"][data-arrow="top-left"]:before {
  border-color: rgba(0, 0, 0, 0.7) transparent;
  border-width: 0 0.5em 0.5em;
  left: 0.5em;
  top: -0.5em;
}

/* Help fullscreen */
#help[data-fullscreen=true] {
  background-color: rgba(0,0,0,.5);
  pointer-events:all;
}
#help[data-fullscreen=true] [data-role="block"] {
  background: none;
}
#help.fullscreen [data-role="block"]:before {
  content:none;
}

#help .help-arrow:before {
  font-size: 5em;
  margin: 0;
  display: block;
}
#help .help-arrow.rotate-90:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#help .help-arrow.rotate-130:before {
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  margin: 0.2em 0;
}
#help .help-arrow.rotate-145:before  {
  transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  margin: -0.3em 0;
}
#help .help-arrow.rotate-180:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#help .help-arrow.rotate-200:before {
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  margin:-0.2em 0;
}
#help .help-arrow.rotate-245:before {
  transform: rotate(245deg);
  -webkit-transform: rotate(245deg);
  margin:-0.2em 0;
}
#help .help-arrow.rotate-270:before {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
#help .help-arrow.rotate-320:before {
  transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
  margin:-0.2em 0;
}

@media screen and (max-width: 600px) {
  #help .help-arrow:before {
    font-size: 4em;
    margin: 0.1em 0;
  }
}
