/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-top: 20px;
    height: 100%;
  }

.slideshow-container .mySlides {
    display: none;
    text-align: center;
}
  
/* Next & previous buttons */
.slideshow-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-shadow: rgb(0, 0, 0) 0px 0 8px;
}

/* Position the "next button" to the right */
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 0px 0 8px;
}

/* Fading animation */
.slideshow-container .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-container img {
    max-width: 100%;
    max-height: 100%;
}